.App {
  text-align: center;
  box-shadow: 10px 0px 10px 0px black
}
.serial {
  background-color: rgb(141, 19, 198);
}
.input {
  text-align: center;
  border-color: rgb(29, 28, 28);
  border-radius: 10px;
}
.input:focus {
  border: 1px solid red;
}
label {
  font-size: larger;
  font-weight: bold;
}
button {
  font-size: 20px;
  background-color: rgb(3, 3, 3);
  color: white;
  border-radius: 10px;
  border: none;
}
button:hover {
  background-color: rgb(205, 194, 209);
  border: none;
}
h1 {
  color: rgb(12, 11, 11);
}
